body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    padding: 220px 85px 116px;
    background-image: url(images/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: 200px 10px;
    background-size: 790px 697px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
}

.card {
    background-color: #F7F7FA;
    width: 340px;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.picture {
    padding: 25px;
}
.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.for-what {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #A5A3B9;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 25px;
    text-transform: uppercase;
}

.name-card {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px
}

.description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.compound {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.compound-item {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px;
}

.compound-last-item {
    margin-bottom: 25px;
}
.price {
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}

.numbers {
    font-size: 20px;
    margin-left: 161px;
    line-height: 24px;
}